.get-all-books-container {
  text-align: center;
}

*
{
  box-sizing: border-box;
}
body
{
  background-color: white;
}

.nav-list
{
  background-color: white;
  width: 80%;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 5px 5px lightgrey;
}

.nav-item{
  color: #558B78;
  list-style: none;
  font-weight: 600;
  transition: 0.3s;
  text-transform: uppercase;
}



.nav-item:hover 
{
  color:#284339;
  cursor: pointer;
}

.login-form
{
  display: flex;
  flex-direction: column;
}

.content-container
{
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 90%;
  margin: auto;
}

.book-container
{
  background-color: #D9D9D9;
  text-align: center;
  margin: 1rem;
  padding:0;
}

.book-title
{
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 0;
}
.book-cover
{
  height: 327px;
  width: 217px;
}

.books-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.get-all-books-button
{
  background-color: #2CD997;
  padding: 0.3rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;
}

.get-all-books-button:hover
{
  box-shadow: 5px 5px 5px gray;
}

.login-button
{
  border: none;
  background: #558B78;
  color: #EBF1E9;
  padding: 0.4rem 1rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.3s;
}

.login-button:hover
{
  transition-timing-function: ease-in-out;
  box-shadow: 2px 2px 2px lightgrey;
}

.nav-search-bar
{
  border: none;
  color: #558B78;
  font-weight: 200;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  margin-left: 5px;
}

.nav-search-bar::placeholder
{
  color: #BCBCBC;
  font-weight: 100;
}

.nav-search-bar:focus
{
  border: none;
  outline: none;
}

.search-icon-button
{
  background-color: transparent;
  border: none;
  width: auto;
}
.search-icon
{
  height: 100%;
}

.search-bar
{
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 2rem;
  height: 2rem;
  padding: 5px;
  border: 1px solid #BCBCBC;
}

.search-icon
{
  max-height: 50px;
  max-width: auto;
}

a
{
  text-decoration: none;
}