@font-face {
  font-family: Inter;
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

.get-all-books-container {
  text-align: center;
}

*
{
  font-family: Inter;
  box-sizing: border-box;
}
body
{
  font-family: Inter;
  background-color: white;
}

.nav-list
{
  background-color: rgb(255, 255, 255);
  width: 80%;
  font-size: 1.5rem;
  margin: 20px auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 5px lightgrey, -2px 2px 5px lightgrey, -2px -2px 5px lightgrey, 2px -2px 5px lightgrey;
}

.nav-item{
  color: #558B78;
  list-style: none;
  font-weight: 600;
  transition: 0.3s;
  text-transform: uppercase;
}

a
{
  color: inherit;
}

a:link {
  text-decoration: none;
}

.nav-item:hover 
{
  color:#284339;
  cursor: pointer;
}

.app-form
{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.content-container
{
  padding: 0;
  background-color: transparent;
  width: 80%;
  margin: auto;
}

.book-container
{
  background-color: transparent;
  margin: 1rem;
  display: flex;
  width: 30%;
  height: fit-content;
  padding: 20px 10px 10px 0px;
}
.book-year-wrapper
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;
}

.book-images-container
{
  position: relative;
  bottom: 0;
  right: 0;
}

.book-year{
  transform: rotate(-90deg);
  color: black;
  font-size: 2rem;
  font-weight: 600;
  display: block;
  margin-right: -20px;
  margin-bottom: 25px;
}

.book-cover
{
  z-index: 1;
  width: 20rem;
  height: 30rem;
}

.liked-book-icon
{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  transition: 0.5s;

}


.liked-book-icon:hover
{
  transform: scale(1.3);
}

.books-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.get-all-books-button
{
  background-color: #2CD997;
  padding: 0.3rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;
}

.get-all-books-button:hover
{
  box-shadow: 5px 5px 5px gray;
}

.login-button
{
  border: none;
  background: #558B78;
  color: #EBF1E9;
  padding: 0.4rem 1rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.3s;
}

.login-button:hover
{
  transition-timing-function: ease-in-out;
  box-shadow: 2px 2px 2px lightgrey;
}

.nav-search-bar
{
  border: none;
  color: #314e44;
  font-weight: 400;
  padding: 10px;
  font-size: 1.3rem;
  background-color: transparent;
  margin-left: 5px;
}

.nav-search-bar::placeholder
{
  color: #9c9c9c;
  font-weight: 200;
}

.nav-search-bar:focus
{
  border: none;
  outline: none;
}

.search-icon-button
{
  background-color: transparent;
  border: none;
  width: auto;
}
.search-icon
{
  height: 100%;
}

.search-bar
{
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 2rem;
  height: 2.3rem;
  border: 1px solid #BCBCBC;
}

.search-icon
{
  max-height: 20px;
  max-width: auto;
}

a
{
  text-decoration: none;
}


.form-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input
{
  margin: 20px auto;
  max-width: 600px;
  min-width: min(600px, 80%);
  margin-top: 10px ;
  border: 1px solid #284339;
  height: 3rem;
  font-size: 2rem;
  font-family: Inter;
  padding-left: 0.8rem;
  color:#284339;
  font-weight: 400;
}

.app-input
{
  margin: 20px auto;
  max-width: 400px;
  min-width: min(400px, 80%);
  margin-top: 10px ;
  border: 1px solid #284339;
  height: 2rem;
  font-size: 1rem;
  font-family: Inter;
  padding-left: 0.8rem;
  color:#284339;
  font-weight: 400;
}


.login-input::placeholder,
.app-input::placeholder {
  color: #B0B0B0;
  opacity: 1;
}

.login-input::placeholder 
{
  font-size: 2rem;
}

.form-container input::-ms-input-placeholder { /* Edge 12 -18 */
  color: #B0B0B0;
}

.form-button
{
  width: auto;
  height: auto;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  background-color: #284339;
  color: white;
  text-transform: uppercase;
  border: none;
  transition: 250ms ease-in-out;
  margin: 10px auto;
}

.form-button:hover
{
  font-family: Inter;
  background-color: #457563;
}

.book-details-page-container
{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.large-book-cover
{
  margin-left: 50px;
  width: 20vw;
  height: auto;
}

.book-details-side-section
{
  margin-left: 5vw;
}

.book-details-large-text
{
  padding-top: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 2rem;
}

.book-details-small-text
{
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #284339;
  font-weight: 600;
}

.book-details-section
{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin: 50px auto 0 auto;
  justify-content: center;
  width: 100%;
}

.book-reviews-container
{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.book-reviews-container h1
{
  text-align: center;
  color: #284339;
  font-size: 3rem;
}

.book-review-container
{
  width: 50%;
  margin: auto;
}


.main-page-content-container
{
  display: flex;
  justify-content: center;
}

.user-profile-container
{
  display: block;
  text-align: center;
}

.user-profile-container h1
{
  text-transform: uppercase;
  color: #284339;
  font-size: 4rem;
  font-weight: 600;
}

.user-profile-content
{
  display: flex;
}

.user-data-section
{
  width: 30%;
}

.liked-books-container
{
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.liked-books-container .book-cover
{
  height: 450px;
  width: 315px;
}

:root{
  --profile-picture-width: 200px;
  --profile-picture-height: 200px;
  --plus-sign-wh: 40px;
}

.user-profile-avatar
{
  width: var(--profile-picture-width);
  height: var(--profile-picture-height);
  border: rgb(40, 67, 57) 10px solid;
  border-radius: 100%;
  transition: opacity 0.5s;
}

.user-profile-avatar:hover
{
  opacity: 0.3;
}

.hidden-file-input
{
  display: none;
}

.liked-books-title
{
  display: block;
  width: 100%;
  text-align: left;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* credit for loader to https://codepen.io/SumVirus/pen/RwvaxBO */

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  margin-top: 200px;
}

/* LOADER 7 */

#loader-7 {
  -webkit-perspective: 240px;
  -moz-perspective: 240px;
  -ms-perspective: 240px;
  perspective: 240px;
}

#loader-7:before {
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 100px;
  height: 100px;
  background-color: #284339;
  animation: flip 1s infinite;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}

.add-books-form
{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.app-file-input
{
  margin: 20px auto;
  max-width: 400px;
  min-width: min(400px, 80%);
  margin-top: 10px ;
  height: 2rem;
  font-size: 1rem;
  font-family: Inter;
  padding-left: 0.8rem;
  color:#284339;
  font-weight: 400;
}
